@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a {
    font-family: "DM Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    color: red;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9
}

.text-box{
    color: #edf0f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-box p{
    font-family: "DM Mono", sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    text-transform:uppercase;
    animation:fade 1000ms ease-in-out forwards;
}

.text-box2{
    color: #edf0f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.text-box2 p{
    font-family: "DM Mono", sans-serif;
    font-size: 33px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    text-transform:uppercase;
    animation:fade 1000ms ease-in-out forwards;
}

.text-box3{
    color: #edf0f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.text-box3 p{
    font-family: "DM Mono", sans-serif;
    font-size: 33px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    text-transform:uppercase;
    animation:fade 1000ms ease-in-out forwards;
}

.text-box h1{
    font-size: 140px;
    line-height: 160px;
    margin-left: -10px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    opacity: 0;
    animation: back 20s linear infinite,fade 1000ms ease-in-out forwards;
    
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

@keyframes fade {
    0% {
      top:10px;
      left:10px;
      filter:blur(15px);
      opacity:0;
    }
    50% {
      filter:blur(10px);
      opacity:0.9;
    }
    100% {
      top:0px;
      left:0px;
      filter:blur(0px);
      opacity:1;
    }  
  }

