@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a {
    font-family: "DM Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    color: red;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9
}

.text-box{
    color: #edf0f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.text-box p{
    font-family: "DM Mono", sans-serif;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    opacity: 0;
    animation:fade 1000ms ease-in-out forwards;
}

.text-box2{
    color: #edf0f1;
    user-select: none;
    min-width: 60%;
    max-width: 60%;
    margin:auto;
}

.text-box2 p{
    font-family: "DM Mono", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    opacity: 0;
    animation:fade 1000ms ease-in-out forwards;
}

.text-box3{
    color: #edf0f1;
    user-select: none;
    min-width: 60%;
    max-width: 60%;
    margin:auto;
}

.Paragraph{
    font-family: "DM Mono", sans-serif;
    font-size: 20px;
    font-weight: 400;
  /*  margin-left: 20%;
    margin-right: 20%; */
    text-indent: 40px;
    line-height: 2;
    opacity: 0;
    animation:fade 1000ms ease-in-out forwards;
}

.text-box4{
    color: #edf0f1;
    user-select: none;
    min-width: 60%;
    max-width: 60%;
    margin:auto;
}

.text-box4 p{
    font-family: "DM Mono", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 2;
    opacity: 0;
    animation:fade 1000ms ease-in-out forwards;
}

.text-box4 h3 a{
    font-family: "DM Mono", sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0;
    animation:fade 1000ms ease-in-out forwards;
}

.text-box h1{
    font-family: "DM Mono", sans-serif;
    font-size: 100px;
    line-height: 160px;
    margin-left: -10px;
    text-align: center;
    /* color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(../Images/back.png);
    background-clip: text;
    -webkit-background-clip: text; */
    background-position: 0 0;
    opacity: 0;
    animation: back 20s linear infinite,fade 1000ms ease-in-out forwards;
    
}

.text-box2 h1{
    font-family: "DM Mono", sans-serif;
    font-size: 50px;
    line-height: 100px;
    /* color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(../Images/back.png);
    background-clip: text;
    -webkit-background-clip: text; */
    text-align: center;
    background-position: 0 0;
    opacity: 0;
    animation: back 20s linear infinite,fade 1000ms ease-in-out forwards;
    
}

.text-box3 h1{
    font-family: "DM Mono", sans-serif;
    font-size: 50px;
    line-height: 100px;
    /* color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(../Images/back.png);
    background-clip: text;
    -webkit-background-clip: text; */
    background-position: 0 0;
    opacity: 0;
    animation: back 20s linear infinite,fade 1000ms ease-in-out forwards;
    
}

.text-box4 h1{
    font-family: "DM Mono", sans-serif;
    font-size: 50px;
    line-height: 100px;
    margin-left: 20px;
    /* color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(../Images/back.png);
    background-clip: text;
    -webkit-background-clip: text; */
    text-align: center;
    background-position: 0 0;
    opacity: 0;
    animation: back 20s linear infinite,fade 1000ms ease-in-out forwards;
    
}

.text-box3 h2{
    font-family: "DM Mono", sans-serif;
    font-size: 35px;
    line-height: 75px;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    opacity: 0;
    animation:fade 1000ms ease-in-out forwards;
}

.text-box4 h2{
    font-family: "DM Mono", sans-serif;
    font-size: 35px;
    line-height: 75px;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0;
    animation:fade 1000ms ease-in-out forwards;
}

.text-box3 h3{
    font-family: "DM Mono", sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    opacity: 0;
    animation:fade 1000ms ease-in-out forwards;
}

.text-box4 h3{
    font-family: "DM Mono", sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0;
    animation:fade 1000ms ease-in-out forwards;
}

.text-box3 h4{
    font-family: "DM Mono", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 2;
    opacity: 0;
    animation:fade 1000ms ease-in-out forwards;
}

.text-box4 h4{
    font-family: "DM Mono", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 2;
    text-align: center;
    opacity: 0;
    animation:fade 1000ms ease-in-out forwards;
}

.text-box3 img {
    margin-left: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.text-box4 img {
    margin-left: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}


.text-box3 iframe {
    margin-left: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
 
}

.title {
    text-align: center;
}

.text-box img {
    position: fixed;
    bottom: -250px;
    margin-left: auto;
    margin-right: auto;
    left: 43%;
}

.text-box img {
    width: 100px;
}

.text-box3 a img {
    width: 100px;
}

.text-box4 a img {
    width: 100px;
}

.text-box3 img {
    width: 750px;
}

.text-box4 img {
    width: 700px;
}

.Reference {
    font-family: "DM Mono", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-indent: -40px;
    line-height: 2;
    opacity: 0;
    animation:fade 1000ms ease-in-out forwards;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

@keyframes fade {
    0% {
      top:10px;
      left:10px;
      filter:blur(15px);
      opacity:0;
    }
    50% {
      filter:blur(10px);
      opacity:0.9;
    }
    100% {
      top:0px;
      left:0px;
      filter:blur(0px);
      opacity:1;
    }  
  }

